<div class="container-fluid main">


    <div class="input-group input-group-lg add-on search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
      <input class="form-control search-query" ng-model="search" placeholder="Search for..." type="text">
    </div>

	<div ng-if="getError()" class="alert alert-danger">
		<strong>Error!</strong> <span ng-bind="getError()"></span>
	</div>

	<div ng-if="getStatusMessage()" class="alert {{getMessageStyleClass()}}" >
		<strong>Message:</strong> <span ng-bind="getStatusMessage()"></span>
	</div>

	<!-- 	<h4>Search after: {{predicate}}</h4> -->
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="updatePredicate('id')">id<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'id' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'id' == predicate, 'fa fa-sort  myGrey': 'id' != predicate}"></span></th>
					<th ng-click="updatePredicate('userNumber')">userNumber<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'userNumber' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'userNumber' == predicate, 'fa fa-sort  myGrey': 'userNumber' != predicate}"></span></th>
					<th ng-click="updatePredicate('userFullName')">userFullName<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'userFullName' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'userFullName' == predicate, 'fa fa-sort  myGrey': 'userFullName' != predicate}"></span></th>
					<th ng-click="updatePredicate('email')">email<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'email' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'email' == predicate, 'fa fa-sort  myGrey': 'email' != predicate}"></span></th>
					<th ng-click="updatePredicate('city')">city<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'city' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'city' == predicate, 'fa fa-sort  myGrey': 'city' != predicate}"></span></th>
					<th ng-click="updatePredicate('notes')">notes<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'notes' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'notes' == predicate, 'fa fa-sort  myGrey': 'notes' != predicate}"></span></th>
					<th ng-click="updatePredicate('age')">age<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'age' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'age' == predicate, 'fa fa-sort  myGrey': 'age' != predicate}"></span></th>
					<th ng-click="updatePredicate('address')">address<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'address' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'address' == predicate, 'fa fa-sort  myGrey': 'address' != predicate}"></span></th>
					<th ng-click="updatePredicate('creditCardNumber')">creditCardNumber<span ng-class="{'fa fa-sort-asc myGrey': reverse && 'creditCardNumber' == predicate, 'fa fa-sort-desc  myGrey': !reverse && 'creditCardNumber' == predicate, 'fa fa-sort  myGrey': 'creditCardNumber' != predicate}"></span></th>
					<th ></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in getUsers() | filter:search | orderBy:predicate:reverse">
					
					<td ng-click="goToUsersDetail(item['id'])">{{item['id']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['userNumber']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['userFullName']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['email']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['city']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['notes']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['age']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['address']}}</td>
					<td ng-click="goToUsersDetail(item['id'])">{{item['creditCardNumber']}}</td>
					<td><a class="btn btn-sm btn-danger" ng-click="deleteUser(item['id'])"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10">
						<div class="text-center">
							<ul class="pagination">
								<li ng-class="{disabled: currentPage == 0}"><a
									href="javascript:;" ng-click="prevPage()">&lt;&lt;  Prev</a></li>
								<li ng-class="active" ><a href="">1</a></li>
								<li ><a href="">2</a></li>
								<li ><a href="">3</a></li>
								<li ><a href="">4</a></li>
								<li ><a href="">5</a></li>
								<li ><a href="">6</a></li>
								<li ><a href="">7</a></li>
								<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
									<a href="javascript:;" ng-click="nextPage()">Next  &gt;&gt;</a>
								</li>
							</ul>
						</div>
						<a class="btn btn-primary btn-primary button-at-right" ng-click="goToUserCreate()"><span class="glyphicon glyphicon-plus"></span> Create new user</a>
					</td>
				</tr>
			</tfoot>

		</table>

	</div>


</div>