<div class="usersDetailContainer">

	<div ng-if="getError()" class="alert alert-danger">
		<strong>Error!</strong> <span ng-bind="getError()"></span>
	</div>

	<form>
		<div class="form-group">
			<label for="inputName">Name</label> <input type="text"
				class="form-control" id="inputName" placeholder="Enter name"
				ng-model="getUser().name">
		</div>
		<div class="form-group">
			<label for="inputName">Age</label> <input type="text"
				class="form-control" id="inputAge" placeholder="Enter age"
				ng-model="getUser().age">
		</div>
		<div class="form-group">
			<label for="inputName">language</label> <input type="text"
				class="form-control" id="inputLanguage" placeholder="Enter language"
				ng-model="getUser().language">
		</div>
		<div class="form-group">
			<label for="inputName">Credit Card</label> <input type="text"
				class="form-control" id="inputCreditCard"
				placeholder="Enter Credit Card" ng-model="getUser().creditCard">
		</div>
		<div class="form-group">
			<label for="inputUserId">User id(secret)</label> <input type="text"
				class="form-control" id="inputUserId" placeholder="Enter user id"
				ng-model="getUser().id">
		</div>
		<div class="form-group">
			<label for="inputNumber">User number(secret)</label> <input
				type="text" class="form-control" id="inputNumber"
				placeholder="Enter user number" ng-model="getUser().number">
		</div>
		<button type="submit" class="btn btn-default" ng-click="">Edit user</button>
	</form>

</div>